/*button style*/
button {
    border-radius: 25px;
    background-color: #f3bda1;
    font-family: cairo;
    border: none;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

button:hover {
    background-color: #000022;
}
